body{
    background-color: gray;

}



.container-flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 55vw;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    border-radius: 10px;
    background-color: beige;


}

.carroussel {
    display: flex;
    flex-direction: row;


}

.carroussel>img {
    width: 50%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.pratos-flex {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    border-radius: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 251, 251);
}

.foods {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    border-radius: 10px;
}

.images>img {
    width: 90%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.personal-data {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 20px;
    padding: 20px;
}

#tall{
    font-size: 30px;
}


/*Daqui para baixo é o que o Glauco já tinha disponibilizado no github dele*/

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 5px;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

#saida {
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.personal-data>input {

    margin: auto;

    width: 90%;

    height: 50px;

    border: none;

    margin-bottom: 5px;

}



.personal-data>input:focus {

    border: none;

}



.personal-data>h1 {

    font-size: 20px;

    font-weight: 700

}

.personal-data{
    margin-bottom: 15px;
    border-radius: 5px;
}

#calculate{
    background-color: #f53981;
    height: 30px;
    margin: top 40px;
    width: 80%;
    margin: auto;
    transition: .3s;
    border:none ;
    font-weight: 700;
    
}

#calculate:hover {
width: 95%;
background-color: yellow;
}

.enunciado>h2{
    color: rgb(18, 240, 18);
}